.Movie-details {
    color:wheat;
    display: flex;
    flex-direction: column;
    width:40vw;
    justify-content: first baseline;
    align-items: flex-start;
    font-style: oblique;
    row-gap: 5%;
    padding:2%;
}
.Movie-details div{
    text-align: left;
    /* font-size: medium; */
}

.movie-backdrop-pic img,iframe{
    width: 50vw;
    object-fit: contain;
}
button{
    background-color: black;
    color:red;
    border-radius: 10%;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 1rem;;
}
button:hover{
    background-color: black;
    color:red;
    border-radius: 10%;
    border: 1px solid yellow;
    padding: 10px;
    transform: scale(1.2);

}
.selected-movie{
    display:flex;
    flex-direction: row;
    justify-content: space-between;   
}
.selected-title{
    font-size: 3vw;
    font-weight: bold;
    color:white;
}

